requests
feedparser
tqdm
flask
flask-cors
PyPDF2
pdfminer.six
beautifulsoup4
sentence-transformers
faiss-cpu
transformers
datasets
scikit-learn
fastapi
uvicorn
pandas
label-studio-sdk
huggingface_hub
PyMuPDF
pint